/**
 * @description 全局less变量，混合
 * @main-color 主色
 * @title-color 标题颜色
 * @des-color 描述性颜色
 * @second-color 辅助性，次要颜色
 * @dark-color 暗淡色
 * @bor-color 边框，线条颜色
 * @tip-color 提示颜色
 * @err-color 错误颜色
 */
@main-color: #7b92f5;
@title-color: #333;
@des-color: #666;
@second-color: #999;
@dark-color: #ccc;
@bor-color: #eee;
@tip-color: #ff0000;
@err-color: #f05248;

/**
 * 辅助色彩（彩色）
 * @other1-color
 * @other2-color
 * @other3-color
 * @other4-color
 */
@other1-color: #74d4d4;
@other2-color: #90bef1;
@other3-color: #9292f2;
@other4-color: #caa4e6;

/**
 * @font-large 重要的标题字体大小
 * @font-middle 次要的标题字体大小
 * @font-title 普通的标题字体大小
 * @font-des 描述性字体大小
 * @font-second 辅助性文字大小
 * @font-tip 提示性文字大小
 */
@font-large: 36px;
@font-middle: 32px;
@font-title: 30px;
@font-des: 28px;
@font-second: 24px;
@font-tip: 20px;

/**
 * @box-mar 元素与界面左右间距 普通块之间的间距
 * @box-padd 元素内间距
 */
@box-mar: 20px;
@box-padd: 20px 30px;

/**
 * @radius 圆角大小
 */
@radius: 8px;
